@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.input-section {
  display: flex;
  align-items: center; /* Center items horizontally */
}

.textarea{
  color: white;
  background-color: black;
  width: 700px;
  height: 50px;
  border: solid 0.5px whitesmoke;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 10px;
}

.textarea:focus::placeholder {
  opacity: 0.5; /* Adjust the opacity as desired */
}


.textchat{
  margin-top: 50px;
  text-align: center;
}
.search-result{
  margin-top: 20px;
  /* border: solid 0.5px whitesmoke;
  box-sizing: border-box;
  width: 700px;
  height: 500px; */
  
}

.result{
  color: blueviolet;
  background-color: black;
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  border: solid 0.5px whitesmoke;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}
